@import url('https://fonts.googleapis.com/css?family=Lato:300');
$pink-highlight: rgb(180, 30, 100);
@function mint-green($transparency: 1) {
    @return rgba(40, 180, 120, $transparency);
}
@mixin spacing-reset() {
    margin: 0;
    padding: 0;
}
@mixin m-pointer() {
    cursor: pointer;
}
@mixin w-then-h($width, $height: $width) {
    width: $width;
    height: $height;
}

html {
    font-family: 'Lato', sans-serif;
    background-color: #222;
    &:root {
        --img-height: 0;
        --img-width: 0;
    }

    body {        
        @include spacing-reset();
        .control-row {
            @include w-then-h(auto, 50px);
            position: relative;
            top: var(--img-height);
            padding-left: 20%;
            padding-right: 20%;
            background-color: rgba(0, 0, 0, 0.8);
            transform: translateX(-50%);
            transform: translateY(-100%);
            text-align: center;
            .control { 
                @include w-then-h(20%, 40px);
                position: absolute;
                top: 0;
                background-color: none;
                padding-top: 10px;
                font-size: 1.3em;
                display: inline-block; 
                color: mint-green();
                text-align: center;
                transition: all 0.2s ease-in-out;
             }
            .go-right { 
                @extend .control; 
                right: 0;
            }
            .go-left {
                @extend .control; 
                left: 0;
            }
            .bubble-row {
                display: inline;
                .bubble {
                    @include w-then-h(20px);
                    position: relative;
                    top: 50%;
                    transform: translateY(-57%);
                    display: inline-block;
                    opacity: 0.3;
                    .marker {
                        @include w-then-h(60%);
                        pointer-events: none;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        border: 1px solid mint-green();
                        transition: border-color 0.2s ease-in-out;
                    }
                }
                .bubble.active {
                    opacity: 1;
                    .marker {
                        @include w-then-h(80%);
                    }
                }
            }
        }
        .carousel-container {
            @include spacing-reset();
            .carousel {
                .slide {
                    @include w-then-h(var(--img-width), var(--img-height));
                    position: absolute;
                    opacity: 0;
                    transition: opacity 0.5s ease-in-out;
                }
                .slide.active {
                    opacity: 1;
                }
            }
        }
    }
}

*.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 700px)  {
    .control {
        &:hover {
            background-color: mint-green(0.2);
            @include m-pointer();
        }
    }
    .bubble-row {
        left: calc(var(--img-width)/2);
        @include w-then-h(500px, auto);
        .bubble {
            &:hover {
                @include m-pointer();
                .marker {
                    border: 1px solid $pink-highlight;
                }
            }
        }
    }
}

@media (max-width: 600px)  {
    html {
        max-width: 100%;
        overflow-x: hidden;
    }
    .bubble-row {
        @include w-then-h(101%, auto);
        left: calc(var(--img-width)/2);
    }
}